---
title: Home
---

<h1>culurjonis coin</h1>

<p>culurjonis is designed to be a feeless, instant, high throughput cryptocurrency for the meme economy.</p>

<p>Key features</p>
<ul>
  <li><p><strong>culurjonis</strong> utilizes a novel block-lettuce architecture.</p></li>
  <li><p>instant and feeless transactions.</p></li>
  <li><p>fungible (& edible).</p></li>
  <li><p>daily carbohydrate airdrops.</p></li>
  <li><p>ripe for memes.</p></li>
  <li><p>literally grows on earth, no mining required.</p></li>
  <li><p>not a shitcoin (until digested).</p></li>
  <li><p>no more confusing prefix, culurjonis contain culurjonishi.</p></li>
  <li><p>replay protection to stop attackers from executing replay attacks from chain x on chain y and vice versa.</p></li>
</ul>







